:root{
	--red: hsl(14, 86%, 42%);
	--red-800:hsl(14, 86%, 25%);
	--green: hsl(159, 69%, 38%);
	--rose-50: hsl(20, 50%, 98%);
	--rose-100: hsl(13, 31%, 94%);
	--rose-300: hsl(14, 25%, 72%);
	--rose-400: hsl(7, 20%, 60%);
	--rose-500: hsl(12, 20%, 44%);
	--rose-900: hsl(14, 65%, 9%);
}

*{
	box-sizing: border-box;
}

body{
	--bg: var(--rose-100);
	margin: 0;
	padding: 1.5rem;
	font-family: "Red Hat Text",sans-serif;
	background: var(--bg);
	color: var(--fg);
}

main{
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin: 0 auto;
	max-width: 1350px;
}

h1,h2,h3,h4,h5{
	margin: 0;
}

h1{
	margin: 0 0 2rem;
	font-size:2em;
}

h3,h5{
	--fg: var(--red);
}

h3{
	font-size: 2em;
	margin: 0 0 1em;
}

h5{
	font-size: 1em;
}

p{
	margin: 0;
}

path{
	fill: var(--svg-clr,black);
}

button{
	width: max-content;
	padding: var(--padd-btn);
	border-radius: 2rem;
	color: var(--fg-btn,var(--rose-900));
	background: var(--bg-btn,var(--rose-50));
	cursor: pointer;
	font-weight: 600;
	border:none;
}

.df{
	display: flex;
}

.carter{
	border: 1px solid var(--fg-btn,var(--rose-400));
	padding: 1rem;
	border-radius: 2rem;
	color:var(--fg-btn);
}

.quantifier{
	padding: .75em 1em;
	display: none;
}

.quantifier .count{
	margin: 0 2em;
}

.quantifier > *{
	vertical-align: middle;
}

.operator{
	--svg-clr: var(--fg-btn);
	display: inline-block;
	overflow: hidden;
	border : 1px solid var(--fg-btn);
	display: flex;
	align-items: center;
}

button img{
	vertical-align: middle;
}

img{
	vertical-align: bottom;
	border-radius: .5rem;
}

picture{
	position: relative;
	margin: 0 0 2rem;
}

picture > img{
	width: 100%;
}

main article{
	max-width: 880px;
	margin: 0 auto;
}

.rad{
	border-radius: .5rem;
}

.desserts{
	display: flex;
	flex-wrap: wrap;
	gap:2rem;
}

.dessert{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	/*width: 33%;*/
	flex-basis: 200px;
}

.dessert.active{
	--bg-btn:var(--red);
	--fg-btn: var(--rose-50);
	--btn-border:none;
}

.dessert.active .carter{
	display: none;
}

.dessert.active .quantifier{
	display: flex;
	align-items: center;
}


.dessert picture>img{
	border: 1px solid var(--fg-btn);
}

.dessert button{
	position: absolute;
	bottom: 0;
	left:50%;
	transform: translate(-50%,50%);
}

.dessert .carter:hover,
.dessert.active picture>img
{
	--fg-btn: var(--red);
}

.indicator,.dessert h4,h5,h3{
	color: var(--fg);
}

.indicator{
	--fg: var(--rose-500);
}

.price{
	margin: 0 .5em 0 .75em;
}

.product-total{
	font-weight: bold;
}

.flavor{
	--fg: var(--rose-900);
	margin: .25rem 0;
	font-weight: 600;
	color:var(--fg);
}

.card{
	--bg: var(--rose-50);
	background: var(--bg);
	padding: 2rem;
}

.empty-msg{
	text-align: center;
}

.empty-msg p{
	margin-top: 1rem;
}

.hint{
	color: var(--rose-500);
	font-weight: 600;
}

.carted-product{
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid var(--carted-border,var(--rose-100));
	padding: 1em 0;
}

.carted-product .total-price{
	font-size: 1.25em;
	font-weight: 500;
}

.img-container{
	border-radius: 50%;
	border:1px solid var(--svg-clr);
	width: var(--img-width,20px);
	height: var(--img-width,20px);
	padding: var(--img-container-padd,.35em);
}

.img-container img{
	width: 100%;
}

.carted-product .img-container{
	--svg-clr: var(--rose-300);
	--img-container-padd:.25em;
	display: flex;
	cursor: pointer;
}

.carted-product .img-container:hover{
	--svg-clr: var(--rose-900);
}

.total-price{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: var(--total-padding,1.5em 0);
}

.carbon{
	background: var(--rose-100);
	padding: 1em 2em;
	border-radius: .5rem;
	text-align: center;
}

.carbon img{
	margin-right: .5rem;
}

.carbon b{
	font-size: .9em;
}

.confirm-order{
	--fg-btn: var(--rose-50);
	--bg-btn: var(--red);
	width: 100%;
	padding: 1em 1.5em;
	font-size: 1em;
	border: none;
	margin-top: 1.75rem;
}

.card button:hover{
	--bg-btn: var(--red-800);
}

.confirmed-order{
	position: fixed;
	width: 600px;
}

.confirmed-order .img-container{
	--img-width:50px;
}

.confirmed-order h2{
	font-size: 2em;
	margin: 1rem 0 .5rem;
}

.bought-desc{
	align-items: center;
	gap: 1rem;
}

.sumup-container{
	--carted-border: var(--rose-300);
	--total-padding: 1em 0;
	background: var(--rose-100);
	padding: 1rem 2rem 0;
	margin: 2rem 0 0;
}

@media screen and (min-width:1065px) {
	main{
		flex-direction: row;
	}

	aside{
		flex-shrink: 0;
		flex-grow: 1;
		align-self: flex-start;
	}
}
